* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(56, 55, 132);
  font-family: "Red Hat Display", sans-serif;
}


.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  overflow: hidden;
}


.screen {
  height: 150px;
  background: #042843;
  margin: 20px 20px 20px 20px;
  margin: auto;
}

.screenContent {
  text-align: end;
  padding: 17px;
  font-size: 30px;
  user-select: none;
}

.calculation {
  font-size: 12px;
  color: rgb(213, 205, 205);
  overflow: auto;
  padding-top: 2rem;
}

.result {
  font-size: 2.5rem;
  padding-top: 1rem;
  color: #d1c9c9;
}


table {
  background-color: #023051;
  border-collapse: collapse;
}

tr,
td {
  border: 0.2px solid rgb(35, 5, 5);
  border-collapse: collapse;
}

.btn {
  width: 50px;
  height: 50px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #0a2d47;
  color: rgb(192, 183, 183);
  outline: none;
}

.operator {
  color: #2d7c2a;
  font-family: "Fira Sans", sans-serif;
}

.math {
  color: #654cab;
  font-family: "Fira Sans", sans-serif;
}


input[type="button"]:hover {
  background-color: rgb(74, 30, 116);
  color: #c8c1c1;
  transition: all 0.5s linear;
}